[submodule "bundle/ctrp"]
	path = bundle/ctrp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/markdown-folding"]
	path = bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
